body {background-color: #F2BED1;
}

header {display: inline-flex;
    align-items: right;
    width: 100%;
}

/* Add a pink background color to the top navigation */
.topnav {
background-color: #F2BED1;
overflow: hidden;
margin-left: 50px;
margin-top: 7%;
margin-right: 230px;
}

.logo {margin-right: auto;
    margin-top: 10px;
}

/* Style the links inside the navigation bar */
.topnav a {
float: left;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 18px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.underline-text {
text-decoration: underline;
text-underline-offset: 3px;
}

/* Change the color of links on hover */
.topnav a:hover {
text-decoration: underline;
text-decoration-color: rgb(255, 255, 255);
-o-transition:.5s;
-ms-transition:.5s;
-moz-transition:.5s;
-webkit-transition:.5s;
transition:.5s;
/*background-color: #ddd;
color: black;*/
}

/* Add a color to the active/current link */
.topnav a.active {
background-color: #F9F5F6;
color: #F2BED1;
}